.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #4f84e6;
}


.tittle{
    font-size: 5rem;
    font-weight: 600;
    color: whitesmoke;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 60vw;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 15px;
}

.card-tittle{
    width: 80%;
    font-size: 2rem;
    font-weight: 400;
    color: #000;
    text-align: center;
    line-height: 1.5;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 100%;
}